In [1]:
import numpy as np
import pandas as pd

## ranking

In [3]:
obj=pd.Series([7,-5,7,4,2,0,4])

In [4]:
obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [5]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [6]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [8]:
obj.rank(ascending=False,method='max') #assign tie value the maximam rank in the group

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [14]:
frame=pd.DataFrame({'a':list('4732'),'b':list('0101'),'c':list('2583')})

In [15]:
frame

   a  b  c
0  4  0  2
1  7  1  5
2  3  0  8
3  2  1  3

In [19]:
frame.rank(axis='columns')

     a    b    c
0  3.0  1.0  2.0
1  3.0  1.0  2.0
2  2.0  1.0  3.0
3  2.0  1.0  3.0

## Axis indexes with Duplicate Label

In [21]:
obj1=pd.Series(range(5),index=list('aabbc'))

In [22]:
obj1

a    0
a    1
b    2
b    3
c    4
dtype: int32

In [23]:
obj1.index.is_unique

False

In [24]:
frame1=pd.DataFrame(np.random.randn(4,3),index=list('aabb'))

In [25]:
frame1

          0         1         2
a -0.840734  0.515037 -0.319273
a -0.416618  0.833059  0.739904
b  1.117167  2.799393 -1.004444
b  1.308293  1.637481  0.358844

In [27]:
frame1.loc['a']

          0         1         2
a -0.840734  0.515037 -0.319273
a -0.416618  0.833059  0.739904