#### Import pandas and read in the Ecommerce purchases csv file and set it to a Data Frame called ecom

In [1]:
import pandas as pd

In [2]:
ecom=pd.read_csv('Ecommerce Purchases.csv')

### Check head of the Data Frame

In [3]:
print(ecom.head())

                                             Address    Lot AM or PM  \
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  46 in       PM
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  28 rn       PM
2                   Unit 0065 Box 5052\nDPO AP 27450  94 vE       PM
3              7780 Julia Fords\nNew Stacy, WA 45798  36 vm       PM
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  20 IE       AM

                                        Browser Info  \
0  Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1  Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4  Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...

                           Company       Credit Card CC Exp Date  \
0                  Martinez-Herman  6011929061123406       02/20
1  Fletcher, Richards and Whitaker  3337758169645356       11/18
2       Simpson, Williams and Pham      675957666125       08/19
3  Williams, Marshall and Buchanan  6011578504430710       02/24
4        Brown, Watson and Andrews  6011456623207998       10/25

   CC Security Code                  CC Provider  \
0               900                 JCB 16 digit
1               561                   Mastercard
2               699                 JCB 16 digit
3               384                     Discover
4               678  Diners Club / Carte Blanche

                            Email                                     Job  \
0               pdunlap@yahoo.com  Scientist, product/process development
1              anthony41@reed.com                       Drilling engineer
2  amymiller@morales-harrison.com                Customer service manager
3     brent16@olson-robinson.info                       Drilling engineer
4     christopherwright@gmail.com                             Fine artist

        IP Address Language  Purchase Price
0  149.146.147.205       el           98.14
1     15.160.41.51       fr           70.73
2   132.207.160.22       de            0.95
3     30.250.74.19       es           78.04
4     24.140.33.94       es           77.82

### How many row and columns are there

In [11]:
len(ecom.index) # it show how many row

10000

In [7]:
len(ecom.columns)  # how many column

14

In [9]:
ecom.columns       # Give all column name

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [10]:
ecom.info() # it return info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

### what is the average purchase price

In [12]:
ecom['Purchase Price'].mean()

50.34730200000025

### What were the higest and low purchase price

In [15]:
ecom['Purchase Price'].max()

99.99

In [16]:
ecom['Purchase Price'].min()

0.0

### How many people have English 'en' as their language of choice on the website

In [17]:
ecom[ecom['Language']=='en']['Language'].count()

1098

### how many people have Title Lawyer

In [18]:
ecom[ecom['Job']=='Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [19]:
ecom[ecom['Job']=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [21]:
len(ecom[ecom['Job']=='Lawyer'].index)

30

### How many people made the purchase during the AM and How many people Made The purchase during PM

In [26]:
ecom['AM or PM'].unique()

array(['PM', 'AM'], dtype=object)

In [27]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

### What are the 5 most common JOB Title

In [29]:
ecom['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

### Someone made a purchase that came from Lot "90 WT "', what is the purchase price for transaction

In [31]:
ecom[ecom['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

### What is the email of the person with the following Credit card number ****

In [33]:
ecom[ecom['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

### How many people have American Express As their Credit card provider and made a purchase above $95

In [35]:
ecom[(ecom['CC Provider']=='American Express ')&(ecom['Purchase Price']>95)].index

Int64Index([], dtype='int64')

In [40]:
len(ecom[(ecom['CC Provider']=='American Express ')&(ecom['Purchase Price']>95)].index)

0

### How many people have a credit card that expire in 2025

In [41]:
ecom['CC Exp Date'].iloc[0][3]

'2'

In [42]:
ecom['CC Exp Date'].apply(lambda exp: exp[3:]=='25')

0       False
1       False
2       False
3       False
4        True
        ...
9995    False
9996     True
9997    False
9998    False
9999    False
Name: CC Exp Date, Length: 10000, dtype: bool

In [43]:
ecom['CC Exp Date'].apply(lambda exp: exp[3:]=='25').count()

10000

### Hard: What are the top 5 most popular email provider /host (e.g. gmail.com,yahoo.com etc

In [45]:
example_email=ecom['Email'].iloc[0]

In [46]:
example_email.split('@')[1]

'yahoo.com'

In [52]:
print(example_email)

pdunlap@yahoo.com