In [1]:
import pandas as pd
import numpy as np

### ''' How to Read csv file
'''

In [2]:
sal=pd.read_csv('Salaries.csv')

D:\Install folder\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(sal.head()) #it return 5 row

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

  BasePay OvertimePay OtherPay Benefits   TotalPay  TotalPayBenefits  Year  \
0  167411           0   400184      NaN  567595.43         567595.43  2011
1  155966      245132   137811      NaN  538909.28         538909.28  2011
2  212739      106088  16452.6      NaN  335279.91         335279.91  2011
3   77916     56120.7   198307      NaN  332343.61         332343.61  2011
4  134402        9737   182235      NaN  326373.19         326373.19  2011

   Notes         Agency Status
0    NaN  San Francisco    NaN
1    NaN  San Francisco    NaN
2    NaN  San Francisco    NaN
3    NaN  San Francisco    NaN
4    NaN  San Francisco    NaN

In [4]:
print(sal.info())  # it return inormation about data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

In [6]:
#print(sal['BasePay'].mean()) # average basepay

In [11]:
#sal['OvertimePay'].max() # highest overpay in dataset

### what is the job title of JOSEPH DRISCOLL? 

#### Note: Use all caps otherwise you may get an answer that does not match up (there is also a lowercase Joseph Driscoll)

In [11]:
print(sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPay'])

1    538909.28
Name: TotalPay, dtype: float64

## How much does JOSEPH DRISCOLL make (including benefits)

In [14]:
print(sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits'])

24    270324.91
Name: TotalPayBenefits, dtype: float64

## What is the name of highest paid person(including benefit)

In [15]:
print(sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName'])

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [16]:
sal.iloc[sal['TotalPayBenefits'].argmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

### what is the name of lowest paid person(including benefit) do you notice somthing storage about how mutch he or she is paid

In [17]:
print(sal.iloc[sal['TotalPayBenefits'].argmin()])

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

In [12]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

### What is the average (mean) BasePay of all employee per year?(2011-2014)

In [16]:
#sal.groupby('Year').mean()['BasePay']

### How much unique job there?

In [30]:
sal['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [31]:
sal['JobTitle'].nunique()

2159

In [32]:
len(sal['JobTitle'].unique())

2159

### What are the top 5 most common Jobs

In [24]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

### how many job titles were represented by only one person in 2013 (e.g. job Title with only one occurence in 2013

In [33]:
sal[sal['Year']==2013]['JobTitle'].value_counts()

Transit Operator                  2295
Special Nurse                     1445
Registered Nurse                  1231
Public Svc Aide-Public Works       859
Custodian                          789
                                  ...
Traffic Signal Operator              1
Graphics Supervisor                  1
Senior Food Service Supervisor       1
Water Meter Shop Supervisor 1        1
Court Interpreter Supervisor         1
Name: JobTitle, Length: 1051, dtype: int64

'''How many people have the word Chief in their job title?
   (this is pretty tricy
'''

In [26]:
def chief_string(title):
    
    if 'chief' in title.lower().split():
            
            return True
    else:
        
         return False

chief_string('CHIEF Manager_metropolitan transit authority')
sum(sal['JobTitle'].apply(lambda x:chief_string(x)))

477

'''Is there a correlationn between length of the job title 
   string and salary
'''

sal['title_len']=sal['JobTitle'].apply(len)
sal[['JobTitle','Title_len']].corr()