In [1]:
import pandas as pd
import numpy as np

In [2]:
# series

In [6]:
obj=pd.Series([4,-5,3,9])

In [7]:
obj

0    4
1   -5
2    3
3    9
dtype: int64

In [8]:
obj.values

array([ 4, -5,  3,  9], dtype=int64)

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [29]:
obj1=pd.Series([3,4,5,9], index=['a','b','c','d'])

In [30]:
obj1

a    3
b    4
c    5
d    9
dtype: int64

In [31]:
obj1.values

array([3, 4, 5, 9], dtype=int64)

In [32]:
obj1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [33]:
# we can use label for retreaveing data from a series

In [34]:
obj1['a']

3

In [35]:
obj1[['a','d']]

a    3
d    9
dtype: int64

In [36]:
obj1[obj1>0]

a    3
b    4
c    5
d    9
dtype: int64

In [37]:
obj1*4

a    12
b    16
c    20
d    36
dtype: int64

In [38]:
np.exp(obj1)

a      20.085537
b      54.598150
c     148.413159
d    8103.083928
dtype: float64

In [41]:
# by using this we check given index present in series or not

In [39]:
'b' in obj1

True

In [40]:
'e' in obj1

False

In [42]:
# by using dictionary concept we create dictionary

In [43]:
sdata={'satyam':1000,'shivam':2000,'sundram':3000,'virat':4000,}

In [44]:
obj2=pd.Series(sdata)

In [45]:
obj2

satyam     1000
shivam     2000
sundram    3000
virat      4000
dtype: int64

In [46]:
obj2.index

Index(['satyam', 'shivam', 'sundram', 'virat'], dtype='object')

In [52]:
states=['DELHI','Rj','Rj2','UP','satyam','shivam','sundram']

In [53]:
obj3=pd.Series(sdata,index=states)

In [54]:
obj3

DELHI         NaN
Rj            NaN
Rj2           NaN
UP            NaN
satyam     1000.0
shivam     2000.0
sundram    3000.0
dtype: float64

In [55]:
pd.notnull(obj3)

DELHI      False
Rj         False
Rj2        False
UP         False
satyam      True
shivam      True
sundram     True
dtype: bool

In [56]:
pd.isnull(obj3)

DELHI       True
Rj          True
Rj2         True
UP          True
satyam     False
shivam     False
sundram    False
dtype: bool

In [57]:
obj2

satyam     1000
shivam     2000
sundram    3000
virat      4000
dtype: int64

In [58]:
obj3

DELHI         NaN
Rj            NaN
Rj2           NaN
UP            NaN
satyam     1000.0
shivam     2000.0
sundram    3000.0
dtype: float64

In [59]:
# here automatically alignation is available

In [60]:
obj2+obj3

DELHI         NaN
Rj            NaN
Rj2           NaN
UP            NaN
satyam     2000.0
shivam     4000.0
sundram    6000.0
virat         NaN
dtype: float64

In [61]:

obj3.name='salary'

In [63]:
obj3.index.name='empname'

In [64]:
obj3

empname
DELHI         NaN
Rj            NaN
Rj2           NaN
UP            NaN
satyam     1000.0
shivam     2000.0
sundram    3000.0
Name: salary, dtype: float64

In [65]:
obj

0    4
1   -5
2    3
3    9
dtype: int64

In [66]:
obj.index=['a','b','c','d']

In [67]:
obj

a    4
b   -5
c    3
d    9
dtype: int64