In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],
                 'col3':['abc','def','ghi','xyz']})

In [4]:
print(df.head())

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [5]:
print(df['col2'].unique()) # unique value in coloumn 2

[444 555 666]

In [6]:
print(df['col2'].nunique())  # return total number of  unique number

3

In [7]:
print(df['col2'].value_counts()) #return number of each element in column

444    2
555    1
666    1
Name: col2, dtype: int64

In [8]:
print(df['col2']>2)

0    True
1    True
2    True
3    True
Name: col2, dtype: bool

In [9]:
print(df[df['col2']>2])

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [10]:
print(df[(df['col2']>2) & (df['col2']==444)])

   col1  col2 col3
0     1   444  abc
3     4   444  xyz

In [11]:
def times2(x):
    return x*2
print(df['col1'].apply(times2))

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [12]:
print(df['col3'].apply(len))

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [13]:
print(df.columns)

Index(['col1', 'col2', 'col3'], dtype='object')

In [14]:
#print(df.Rows)

In [15]:
print(df.index)

RangeIndex(start=0, stop=4, step=1)

In [16]:
print(df.sort_values('col2'))

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [17]:
print(df.isnull())

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False