In [2]:
import numpy as np
import pandas as pd

# Summarizing and Computing Descriptive Statics

In [5]:
df=pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],index=list('abcd'),columns=['one','two'])

In [6]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [8]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [9]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [10]:
df.mean()

one    3.083333
two   -2.900000
dtype: float64

In [13]:
df.mean(axis='columns',skipna=False) #if we take skipna then if both value exist then means comes

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [14]:
df.idxmax()

one    b
two    d
dtype: object

In [15]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [16]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

## Correlation and Covarience

In [24]:
obj1=pd.Series(['c','a','d','a','a','b','b','c','c'])

In [25]:
obj1

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [26]:
u=obj1.unique()

In [27]:
u

array(['c', 'a', 'd', 'b'], dtype=object)

In [30]:
obj1.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [32]:
pd.value_counts(obj1.values,sort=False)

c    3
b    2
d    1
a    3
dtype: int64