# Groupby

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
data={'compony':['GooG','GooG','MSFT','FB','FB','yahoo'],'person':['sum','charlie','Amy','Vanessa','Carls','Sarah'],
       'sales':[200,120,340,124,243,350]}

In [3]:
df=pd.DataFrame(data)
print(df)

  compony   person  sales
0    GooG      sum    200
1    GooG  charlie    120
2    MSFT      Amy    340
3      FB  Vanessa    124
4      FB    Carls    243
5   yahoo    Sarah    350

In [4]:
byComp=df.groupby('compony')
print(byComp)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000024388713208>

## operation on grouped data

In [5]:
print(byComp.mean())

         sales
compony
FB       183.5
GooG     160.0
MSFT     340.0
yahoo    350.0

In [6]:
print(byComp.std())

             sales
compony
FB       84.145707
GooG     56.568542
MSFT           NaN
yahoo          NaN

In [7]:
print(byComp.sum())

         sales
compony
FB         367
GooG       320
MSFT       340
yahoo      350

In [8]:
print(byComp.sum().loc['FB'])

sales    367
Name: FB, dtype: int64

In [9]:
print(df.groupby('compony').sum().loc['FB'])

sales    367
Name: FB, dtype: int64

In [10]:
print(df.groupby('compony').count())

         person  sales
compony
FB            2      2
GooG          2      2
MSFT          1      1
yahoo         1      1

In [11]:
print(df.groupby('compony').max())

          person  sales
compony
FB       Vanessa    243
GooG         sum    200
MSFT         Amy    340
yahoo      Sarah    350

In [12]:
print(df.groupby('compony').min())

          person  sales
compony
FB         Carls    124
GooG     charlie    120
MSFT         Amy    340
yahoo      Sarah    350

In [13]:
print(df.groupby('compony').describe())

        sales
        count   mean        std    min     25%    50%     75%    max
compony
FB        2.0  183.5  84.145707  124.0  153.75  183.5  213.25  243.0
GooG      2.0  160.0  56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      1.0  340.0        NaN  340.0  340.00  340.0  340.00  340.0
yahoo     1.0  350.0        NaN  350.0  350.00  350.0  350.00  350.0

In [14]:
print(df.groupby('compony').describe().transpose())

compony              FB        GooG   MSFT  yahoo
sales count    2.000000    2.000000    1.0    1.0
      mean   183.500000  160.000000  340.0  350.0
      std     84.145707   56.568542    NaN    NaN
      min    124.000000  120.000000  340.0  350.0
      25%    153.750000  140.000000  340.0  350.0
      50%    183.500000  160.000000  340.0  350.0
      75%    213.250000  180.000000  340.0  350.0
      max    243.000000  200.000000  340.0  350.0