In [4]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [5]:
d={'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [7]:
df=pd.DataFrame(d)
print(df)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [8]:
print(df.dropna()) #drop row which have not any value

     A    B  C
0  1.0  5.0  1

In [9]:
print(df.dropna(axis=1)) #drop column which have not value

   C
0  1
1  2
2  3

In [10]:
print(df)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [11]:
print(df.fillna(value="fill value"))

            A           B  C
0           1           5  1
1           2  fill value  2
2  fill value  fill value  3

In [12]:
print(df['A'].fillna(value=df['A'].mean()))

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64