# Pandas dataFrame 1

In [4]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

In [5]:
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])
print(df)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

## ''' Selecting Column '''

In [7]:
print(df['w'])

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [8]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [9]:
print(type(df['w']))

<class 'pandas.core.series.Series'>

In [10]:
print(df[['w','x']])

          w         x
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
d  0.188695 -0.758872
e  0.190794  1.978757

In [11]:
df['new']=df['w']+df['y']

In [12]:
print(df)

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [15]:
print(df.drop('new',axis=1))

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [16]:
print(df)

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [17]:
df.drop('new',axis=1,inplace=True)

In [18]:
print(df)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [19]:
print(df.drop('e',axis=0))

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [20]:
print(df)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [21]:
print(df.shape)

(5, 4)

In [26]:
print(df[['x','y']])

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077
c  0.740122  0.528813
d -0.758872 -0.933237
e  1.978757  2.605967

## ''' selecting row'''

In [22]:
print(df.loc['a'])  #location labal based index

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [23]:
print(df.iloc[2])  #location numerical based index

w   -2.018168
x    0.740122
y    0.528813
z   -0.589001
Name: c, dtype: float64

In [24]:
print(df.loc['b','y'])

-0.8480769834036315

In [25]:
print(df.loc[['a','b'],['y','z']])

          y         z
a  0.907969  0.503826
b -0.848077  0.605965