In [4]:
import numpy as np
import pandas as pd

In [5]:
labels=['a','b','c']

my_data=[10,20,30]

arr=np.array(my_data)

d={'a':10,'b':20,'c':30}

In [6]:
print(pd.Series(data=my_data))

0    10
1    20
2    30
dtype: int64

In [7]:
print(pd.Series(data=my_data,index=labels))

a    10
b    20
c    30
dtype: int64

In [8]:
print(pd.Series(my_data,labels))

a    10
b    20
c    30
dtype: int64

In [9]:
print(pd.Series(arr))

0    10
1    20
2    30
dtype: int32

In [10]:
print(pd.Series(arr,labels))

a    10
b    20
c    30
dtype: int32

In [11]:
print(pd.Series(d))

a    10
b    20
c    30
dtype: int64

In [12]:
ser1=pd.Series([1,2,3,4],['usa','germany','ussr','japan'])
print(ser1)

usa        1
germany    2
ussr       3
japan      4
dtype: int64

In [13]:
ser2=pd.Series([1,2,5,4],['usa','germany','italy','japan'])
print(ser2)

usa        1
germany    2
italy      5
japan      4
dtype: int64

In [14]:
print(ser1['usa'])

1