In [1]:
import numpy as np
import pandas as pd

from numpy.random import randn
np.random.seed(101)

# Data Frame conditional selection

In [2]:
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])
print(df)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [3]:
print(df>0)

       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True
e   True   True   True   True

In [4]:
bool_df=df>0
print(df[bool_df])

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [5]:
print(df['w']>0)

a     True
b     True
c    False
d     True
e     True
Name: w, dtype: bool

In [6]:
print(df[df['w']>0])   #confusion

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [7]:
resultdf=df[df['w']>0]  
print(resultdf['x'])

a    0.628133
b   -0.319318
d   -0.758872
e    1.978757
Name: x, dtype: float64

In [9]:
print(df[df['x']>0]['x'])

a    0.628133
c    0.740122
e    1.978757
Name: x, dtype: float64

In [10]:
print(df[df['x']>0][['x','y']])

          x         y
a  0.628133  0.907969
c  0.740122  0.528813
e  1.978757  2.605967

In [11]:
boolser=df['w']>0
print(boolser)

a     True
b     True
c    False
d     True
e     True
Name: w, dtype: bool

In [12]:
result=df[boolser]
print(result)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [13]:
mycols=['y','x']
result[mycols]

          y         x
a  0.907969  0.628133
b -0.848077 -0.319318
d -0.933237 -0.758872
e  2.605967  1.978757

In [22]:
#print(df[(df['w']>0) and (df['y']>1)] ) #it show error

In [16]:
print(df[(df['w']>0) & (df['y']>1)]) # it work

          w         x         y         z
e  0.190794  1.978757  2.605967  0.683509

In [17]:
print(df.reset_index())

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509

In [18]:
newind='ca ny wy or co'.split()
print(newind)

['ca', 'ny', 'wy', 'or', 'co']

In [19]:
df['state']=newind
print(df)

          w         x         y         z state
a  2.706850  0.628133  0.907969  0.503826    ca
b  0.651118 -0.319318 -0.848077  0.605965    ny
c -2.018168  0.740122  0.528813 -0.589001    wy
d  0.188695 -0.758872 -0.933237  0.955057    or
e  0.190794  1.978757  2.605967  0.683509    co

In [21]:
print(df.set_index('state'))

              w         x         y         z
state
ca     2.706850  0.628133  0.907969  0.503826
ny     0.651118 -0.319318 -0.848077  0.605965
wy    -2.018168  0.740122  0.528813 -0.589001
or     0.188695 -0.758872 -0.933237  0.955057
co     0.190794  1.978757  2.605967  0.683509